.mainContainer ul{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    margin:  3em auto;
    width: 80%;
}
.mainContainer ul li {
    border: 5px solid #90BDD7;
    list-style-type: none;
    margin: 1em;
    padding: 2em;
    width: 30em;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.image{
    width: 10em;
    height: 10em;
}